<div style="width:1050px;height:40%;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position:absolute;left: 200px;top: 120px;">
  <h4 style="position:relative;left: 450px;">Add Actor</h4>
  <form (submit)="addActor()">
    <div class="form-group">
      <input type="text" [(ngModel)]="name" name="name" placeholder="Name" class="form-control">
    </div>
    <div class="form-group">
      <input type="number" [(ngModel)]="age" name="age" placeholder="age" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="gender" name="gender" placeholder="gender" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="acted" name="acted" placeholder="acted" class="form-control">
    </div>
    <input style="position:absolute;left: 200px;" type="submit" class="btn btn btn-success" value="Add">
    <input style="position:relative;left: 700px;" routerLink="/listactors" class="btn btn btn-danger" value="Cancel">
  </form>
</div>
